body {
  margin-top:20px;
  margin-bottom:30px;
background-color:deepskyblue;
    color:black;

}

.label {
  margin-right: 2px;
}

.comments blockquote {
  margin-top: 5px;
}


.ng-invalid.ng-dirty {
  border-color:#fa787e;
}

.ng-valid.ng-dirty {
  border-color:#78fa89;
}

a:hover, a:focus {
  text-decoration:none;
}


.show {
	display: none;
}
.hide:focus + .show {
	display: inline;
}
.hide:focus {
	display: none;
}
.hide:focus ~ #list { display:none; }
@media print {
.hide, .show {
	display: none;
}
}