<!DOCTYPE html>
<html ng-app="blog">
   <head>
      <title>My application</title>
      <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
      <link rel="stylesheet" media="all" href="css/custom.css">
   </head>
   <body>
      <div class="container">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="">AWJ Base Project</a>
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                     <li><a href="#person">Person</a></li>
                     <li><a href="#pilot">Piloti</a></li>
                     <li><a href="#masina">Masini</a></li>
                     <li><a href="#circuit">Circuite</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <hr/>
      <div class="container">
         <div ng-controller="HomeController">
            <h1 ng-click="doStuff()">{{ helloWorld }}</h1>
         </div>
      </div>
      <hr/>
      <!-- /resources1 -->
      <div class="container" ng-controller="PersoanaController">
         <h1><a name="person">Person</a></h1>
         <h2>List all persons</h2>
         <table class="table table-bordered">
            <tr>
               <th ng-repeat="key in keys">{{ key }}</th>
               <th style="width:210px;">Options</th>
            </tr>
            <tr ng-repeat="objct in obiecte" data-id="{{objct.id}}">
               <td>{{ objct.id }}</td>
               <td>{{objct.name}}</td>
               <td>
                  <a href="">
                  <span ng-click = "displayModal(objct.id)" class="label label-success" >
                  Open
                  <span class="glyphicon glyphicon-folder-open"></span>
                  </span>
                  </a>
                  <button ng-click="setUpdateObiect(objct)" class="btn btn-info btn-xs">
                  Edit
                  <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <button ng-click="deleteObiect(objct.id)" class="btn btn-danger btn-xs">
                  Remove
                  <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  </a>
               </td>
            </tr>
         </table>
         <modal title="Display person" visible="showModal">
            <form role="form">
               <div class="form-group">
                  <label for="id">ID</label>
                  <input class="form-control" id ="id"  type="form-control" ng-model="showObiect.id">
               </div>
               <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" id = "name" type="form-control" ng-model="showObiect.name">
               </div>
            </form>
         </modal>
         <div class="row">
            <div class="col-md-3">
               <h2>Add new person</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="obiect.id"/></td>
                  </tr>
                  <tr>
                     <td>Name</td>
                     <td><input type="text" class="form-control" ng-model="obiect.name"/></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button ng-click="addObiect(obiect)" class="btn btn-primary btn-xs">Add</button>
                     </td>
                  </tr>
               </table>
            </div>
            <div class="col-md-3  col-md-offset-6">
               <h2>Edit a person</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.id"></td>
                  </tr>
                  <tr>
                     <td>Name</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.name"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button class="btn btn-info btn-xs"  ng-click="updateObiect()">
                        Update
                        </button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <!-- /resources2 -->
      <div class="container" ng-controller="PilotController">
         <h1><a name="pilot">pilot</a></h1>
         <h2>List all persons</h2>
         <table class="table table-bordered">
            <tr>
               <th ng-repeat="key in keys">{{ key }}</th>
               <th style="width:210px;">Options</th>
            </tr>
            <tr ng-repeat="objct in obiecte" data-id="{{objct.id}}">
               <td>{{ objct.id }}</td>
               <td>{{objct.name}}</td>
               <td>{{objct.age}}</td>
               <td>
                  <a href="">
                  <span ng-click = "displayModal(objct.id)" class="label label-success" >
                  Open
                  <span class="glyphicon glyphicon-folder-open"></span>
                  </span>
                  </a>
                  <button ng-click="setUpdateObiect(objct)" class="btn btn-info btn-xs">
                  Edit
                  <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <button ng-click="deleteObiect(objct.id)" class="btn btn-danger btn-xs">
                  Remove
                  <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  </a>
               </td>
            </tr>
         </table>
         <modal title="Display pilot" visible="showModal">
            <form role="form">
               <div class="form-group">
                  <label for="id">ID</label>
                  <input class="form-control" id ="id"  type="form-control" ng-model="showObiect.id">
               </div>
               <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" id = "name" type="form-control" ng-model="showObiect.name">
               </div>
            </form>
         </modal>
         <div class="row">
            <div class="col-md-3">
               <h2>Add new pilot</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="obiect.id"/></td>
                  </tr>
                  <tr>
                     <td>Name</td>
                     <td><input type="text" class="form-control" ng-model="obiect.name"/></td>
                  </tr>
                  <tr>
                     <td>Age</td>
                     <td><input type="text" class="form-control" ng-model="obiect.age"/></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button ng-click="addObiect(obiect)" class="btn btn-primary btn-xs">Add</button>
                     </td>
                  </tr>
               </table>
            </div>
            <div class="col-md-3  col-md-offset-6">
               <h2>Edit a pilot</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.id"></td>
                  </tr>
                  <tr>
                     <td>Name</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.name"></td>
                  </tr>
                  <tr>
                     <td>age</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.age"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button class="btn btn-info btn-xs"  ng-click="updateObiect()">
                        Update
                        </button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <!-- /resources3 -->
      <div class="container" ng-controller="MasinaController">
         <h1><a name="masina">Cars</a></h1>
         <h2>List all Cars</h2>
         <table class="table table-bordered">
            <tr>
               <th ng-repeat="key in keys">{{ key }}</th>
               <th style="width:210px;">Options</th>
            </tr>
            <tr ng-repeat="objct in obiecte" data-id="{{objct.id}}">
               <td>{{ objct.id }}</td>
               <td>{{objct.name}}</td>
               <td>
                  <a href="">
                  <span ng-click = "displayModal(objct.id)" class="label label-success" >
                  Open
                  <span class="glyphicon glyphicon-folder-open"></span>
                  </span>
                  </a>
                  <button ng-click="setUpdateObiect(objct)" class="btn btn-info btn-xs">
                  Edit
                  <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <button ng-click="deleteObiect(objct.id)" class="btn btn-danger btn-xs">
                  Remove
                  <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  </a>
               </td>
            </tr>
         </table>
         <modal title="Display pilot" visible="showModal">
            <form role="form">
               <div class="form-group">
                  <label for="id">ID</label>
                  <input class="form-control" id ="id"  type="form-control" ng-model="showObiect.id">
               </div>
               <div class="form-group">
                  <label for="name">Car</label>
                  <input class="form-control" id = "name" type="form-control" ng-model="showObiect.name">
               </div>
            </form>
         </modal>
         <div class="row">
            <div class="col-md-3">
               <h2>Add new Car</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="obiect.id"/></td>
                  </tr>
                  <tr>
                     <td>Car</td>
                     <td><input type="text" class="form-control" ng-model="obiect.name"/></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button ng-click="addObiect(obiect)" class="btn btn-primary btn-xs">Add</button>
                     </td>
                  </tr>
               </table>
            </div>
            <div class="col-md-3  col-md-offset-6">
               <h2>Edit a Car</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.id"></td>
                  </tr>
                  <tr>
                     <td>Car</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.name"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button class="btn btn-info btn-xs"  ng-click="updateObiect()">
                        Update
                        </button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <!-- /resources4 -->
      <div class="container" ng-controller="CircuitController">
         <h1><a name="circuit">Circuits</a></h1>
         <h2>List all Circuits</h2>
         <table class="table table-bordered">
            <tr>
               <th ng-repeat="key in keys">{{ key }}</th>
               <th style="width:210px;">Options</th>
            </tr>
            <tr ng-repeat="objct in obiecte" data-id="{{objct.id}}">
               <td>{{ objct.id }}</td>
               <td>{{objct.name}}</td>
               <td>
                  <a href="">
                  <span ng-click = "displayModal(objct.id)" class="label label-success" >
                  Open
                  <span class="glyphicon glyphicon-folder-open"></span>
                  </span>
                  </a>
                  <button ng-click="setUpdateObiect(objct)" class="btn btn-info btn-xs">
                  Edit
                  <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <button ng-click="deleteObiect(objct.id)" class="btn btn-danger btn-xs">
                  Remove
                  <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  </a>
               </td>
            </tr>
         </table>
         <modal title="Display pilot" visible="showModal">
            <form role="form">
               <div class="form-group">
                  <label for="id">ID</label>
                  <input class="form-control" id ="id"  type="form-control" ng-model="showObiect.id">
               </div>
               <div class="form-group">
                  <label for="name">Circuit Name</label>
                  <input class="form-control" id = "name" type="form-control" ng-model="showObiect.name">
               </div>
            </form>
         </modal>
         <div class="row">
            <div class="col-md-3">
               <h2>Add new Circuit</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="obiect.id"/></td>
                  </tr>
                  <tr>
                     <td>Circuit name</td>
                     <td><input type="text" class="form-control" ng-model="obiect.name"/></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button ng-click="addObiect(obiect)" class="btn btn-primary btn-xs">Add</button>
                     </td>
                  </tr>
               </table>
            </div>
            <div class="col-md-3  col-md-offset-6">
               <h2>Edit a Circuit</h2>
               <table>
                  <tr>
                     <td>ID</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.id"></td>
                  </tr>
                  <tr>
                     <td>Circuit Name</td>
                     <td><input type="text" class="form-control" ng-model="editObiect.name"></td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <button class="btn btn-info btn-xs"  ng-click="updateObiect()">
                        Update
                        </button>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
      <div class="container">
         <footer class="footer">
            <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
            <p class="text-muted pull-right">Sirbu Nicolae-Cezar, 331AA</p>
         </footer>
      </div>
      <script src="js/jquery-1.11.3.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script src="js/app.js"></script>
   </body>
</html>